@using X.PagedList
@using ShadowBlog.Models
@using ShadowBlog.Services.Interfaces
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@inject IImageService _imageService
@model IPagedList<Blog>

@{
    ViewData["Title"] = "Home Page";
}


<!-- Banner Area Start-->
<section class="banner-area">
    <div class="banner-slider owl-carousel owl-loaded">
        <div class="item" style="background: url(/img/BlogPostCarousel.png)">
            <div class="banner-inner">
                <h4>Featured Post</h4>
                <h2>Virtual vs. Virtual</h2>
                <a href="https://heroku-shadow-blog.herokuapp.com/JordansBlog/PostDetails/virtual-vs-virtual#" class="btn readmore-button">Read more</a>
            </div>
        </div>
        <div class="item" style="background: url(assets/img/banner/slider-2.jpg)">
            <div class="banner-inner">
                <h4>Featured Post</h4>
                <h2>How To: Stand Up A C# Project in Heroku</h2>
                <a href="https://heroku-shadow-blog.herokuapp.com/JordansBlog/PostDetails/how-to-stand-up-a-c-sharp-project-in-heroku" class="btn readmore-button">Read more</a>
            </div>
        </div>
        <div class="item" style="background: url(/img/BlogPostCarousel.png)">
            <div class="banner-inner">
                <h4>Featured Post</h4>
                <h2>Brass Tacks: APIE</h2>
                <a href="https://heroku-shadow-blog.herokuapp.com/JordansBlog/PostDetails/brass-tacks-apie" class="btn readmore-button">Read more</a>
            </div>
        </div>
    </div>
</section>
<!-- Banner Area End -->
<!-- latest post Area Start-->
<section class="latest-post-area pd-top-115 pd-bottom-110">
    <div class="container">
        <div class="row">
            @foreach (var blog in Model.OrderBy(b => b.Created))
            {
                <div class="col-lg-4 col-md-6">
                    <div class="thumb pb-lg-3 pb-5">
                        <img class="w-100" src=@_imageService.DecodeImage(blog.ImageData, blog.ContentType) alt="BlogPostImage">
                    </div>
                    <div class="blog-post-item-wrap">
                        <div class="post-content">
                            <h4><a asp-controller="BlogPosts" asp-action="ChildIndex" asp-route-blogId="@blog.Id">@blog.Name</a></h4>
                            <p>@blog.Description</p>
                            <div class="post-meta">
                                <ul>
                                    <li>By</li>
                                    <li><a href="https://jordanthopps.netlify.app/#about" target="_blank">Jordan Hopps</a></li>
                                    <li>@blog.Created.ToString("MMM dd, yyyy")</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <hr />
        <div class="row"> <!--@*PAGINATION VIEW*@-->
            <<div class="col">
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
            </div>
        </div>
        <div class="row">
            <div class="col">
                @Html.PagedListPager(Model, page => Url.Action("Index", new {page = page}),
                        new PagedListRenderOptions
                        {
                            LiElementClasses = new string[] {"page-item"},
                            PageClasses = new string[] {"page-link"}
                        })
            </div>
        </div>
        <hr />
    </div>
</section>
<!-- latest post Area End -->